/* your styles go here */


/* custom fonts */

@font-face {
    font-family: 'cocomatlight';
    src: url('../fonts/cocomat_light-trial-webfont.woff2') format('woff2'),
         url('../fonts/cocomat_light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cocomatultralight';
    src: url('../fonts/cocomat_ultralight-trial-webfont.woff2') format('woff2'),
         url('../fonts/cocomat_ultralight-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moon_getheavy';
    src: url('../fonts/moon_get-heavy-webfont.woff2') format('woff2'),
         url('../fonts/moon_get-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hero{
    background:url(../img/bannerimg.png)no-repeat center 0;
    width:100%;
    background-size:cover;
    min-height: 850px;
    position: relative;
}
.navbar-brand{
    position:absolute;
    bottom:-750px;
    left:50%;
    width:245px;
    height: 245px;
    margin:0 auto 0 -122px;
    transition:all 0.2s ease;
    
}

.contenthero{
    margin-top:15%;
    
}
.heroin{
    position: relative;
}
.heroin:before{
    content:'';
    width:1px;
    height:200px;
    position: absolute;
    left:-15px;
    top:-70px;
    background:#fff;
    transform:rotate(25deg);
}
.heroin:after{
    content:'';
    width:1px;
    height:200px;
    position: absolute;
    right:35px;
    bottom:-2px;
    background:#fff;
    transform:rotate(25deg);
}
.contenthero h2{
    font-size:35px;
    color:#000;
    text-transform: uppercase;
    font-family: 'moon_getheavy';
}
.contenthero h1{
    font-size:54px;
    color:#ff0064;
    text-transform: uppercase;
    font-family: 'moon_getheavy';
}
.contenthero h3{
    font-size:24px;
    color:#000;
    text-transform: uppercase;
    font-family: 'moon_getheavy';
    line-height: 35px;
}
.whitefont{
    color:#fff;
}
.contenthero .author{
    font-size:8px;
    color:#fbe20a;
}
.scrollUp .navbar-brand{
    bottom:-250px;
    opacity: 0;
}
.section-title{
    font-size:36px;
    font-family: 'cocomatultralight';
    color:#8b8b8b;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    display: inline;
}
.section-title:after{
    content:'';
    width:1px;
    height:100px;
    background:#8b8b8b;
    position: absolute;
    right:-25px;
    top:-25px;
    transform:rotate(-15deg);
}
#about-us .section-title{
    margin-top:-100px;
    float:left;
}
.fblack{
    color:#000;
}
.about-content h3{
    font-size:54px;
    font-family: 'moon_getheavy';
}
.about-content h2{
    font-size:80px;
    font-family: 'moon_getheavy';
}
.about-content h4{
    font-size:66px;
    font-family: 'moon_getheavy';
}
.about-content h4 span{
    font-size:20px;
}
.about-content{
    padding:140px 0;
}

.team{
    padding-top:170px;
}
.teammain{
    background:url(../img/teambg.png)no-repeat center 0;
    background-size:cover;
    width:100%;
    height:975px;
    margin-top:-100px;
    position: relative;
}
.teammain article{
    position:absolute;
    bottom:180px;
    right:25px;
}
.teammain article h2{
    font-size:62px;
    font-family: 'moon_getheavy';
}
.teammain article h3{
    font-size:46px;
    font-family: 'moon_getheavy';
}
.teammain article h4{
    font-size:44px;
    font-family: 'moon_getheavy';
}
#services{
    margin-top:-320px;
    position: relative;
}

#services:after{
    content:'';
    width:200%;
    height:1px;
    background:#696969;
    position: absolute;
    bottom:40px;
    transform:rotate(5deg);
}
.colrow{
    padding:160px 0;
}
.sercol h3{
    font-size:28px;
    font-family: 'cocomatultralight';
    text-transform: uppercase;
    display: block;
    color:#7d7d7d;
    font-weight: normal;
}
.sercol h3 span{
    color:#d53292;
}
.sercol h4{
    font-size:18px;
    font-family: 'cocomatultralight';
    text-transform: uppercase;
    display: block;
    color:#7d7d7d;
    font-weight: normal;
}
.features{
    padding:150px 0;
}
.featurelogo .border-right{
    border-right:1px solid #d5d5d5;
}
.featurelogo{
    padding-top:30px;
}
.featurelogo a{
    font-size:20px;
    color:#000;
    font-family: 'moon_getheavy';
}
#contact{
    background:url(../img/contactbg.png)no-repeat center 0;
    width:100%;
    background-size:cover;
    height:882px;
}
#contact .section-title{
    color:#fff;   
}
#contact .section-title:after{
    background:#fff;
}
.contform .form-control{
    background:#fff;
    height:60px;
    border:none;
    border-radius:0;
}
.contform .form-control::placeholder{
    font-size:24px;
    text-transform: uppercase;
    font-family: 'cocomatultralight';
    color:#494949;
}
.contform{
    margin-top:50px;
}
.contform .btnsubmit{
    background:#fff;
    font-size:24px;
    text-transform: uppercase;
    text-align:center;
    border:none;
    padding:15px;
    color:#f65052;
    font-family: 'cocomatultralight';
    
}
